.Clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15em;
  --opacity: 0.3;
  --gap: 5px;
}

.Clock * {
  position: relative;
}

.Clock .time,
.Clock .dayDateMonth .dateMonth .date {
  font-family: D7MM;
}

.Clock .extras .ampm,
.Clock .dayDateMonth {
  font-family: D14MM;
}

.Clock *::after {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: var(--opacity);
}

.Clock .time {
  display: flex;
  gap: var(--gap);
  align-items: center;
  font-size: xx-large;
  align-items: flex-end;
}

.Clock .time .hour {
  display: flex;
  flex-direction: column;
}

.Clock .time .minute {
  display: flex;
}

.Clock .time .extras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5em;
}

.Clock .day span {
  opacity: var(--opacity);
}
.Clock .day span.current {
  opacity: 1;
}

.Clock .dayDateMonth {
  display: flex;
  flex-direction: column;
}

.Clock .time .extras .seconds::after,
.Clock .time .hour > *::after,
.Clock .time .minute::after,
.Clock .dayDateMonth .dateMonth .date::after {
  content: "88";
}

.Clock .time .extras .ampm::after {
  content: "~~";
}

.Clock .dayDateMonth .dateMonth .month::after {
  content: "~~~";
}
