.Clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-width: 15em;
}

.Clock .time {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: xx-large;
}

.Clock .hour {
  display: flex;
  flex-direction: column;
}

.Clock .hour > div {
  padding-right: 5px;
  font-size: 0.7em;
  font-weight: bold;
}

.Clock .time .minute .ampm {
  font-size: medium;
  font-weight: 600;
}

.Clock .day {
  font-weight: 600;
}
