@font-face {
  font-family: Iosveka;
  src: url(./fonts/Iosevka\ Nerd\ Font\ Complete.ttf);
}

@font-face {
  font-family: brandIcons;
  src: url(./fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: solidIcons;
  src: url(./fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: regularIcons;
  src: url(./fonts/fa-regular-400.ttf);
}

@font-face {
  font-family: D14C;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG14-Classic/DSEG14Classic-Regular.ttf);
}

@font-face {
  font-family: D14CM;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.ttf);
}

@font-face {
  font-family: D14M;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG14-Modern/DSEG14Modern-Regular.ttf);
}

@font-face {
  font-family: D14MM;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.ttf);
}

@font-face {
  font-family: D7C;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG7-Classic/DSEG7Classic-Regular.ttf);
}

@font-face {
  font-family: D7CM;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf);
}

@font-face {
  font-family: D7M;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.ttf);
}

@font-face {
  font-family: D7MM;
  src: url(./fonts/fonts-DSEG_v050b1/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.ttf);
}

body {
  --vibrant: 255, 255, 255;
  --muted: 0, 0, 0;
  --vibrantRgb: rgb(var(--vibrant));
  --mutedRgb: rgb(var(--muted));
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
